//Created by art on 06.03.16.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Коды купона
        link(rel='stylesheet', href='/css/bootstrap.css')
        script(src='/js/jquery-1.12.0.js')
        script(src='/js/coupon.js')
        script(src='/js/session.js')
    body
        div.container
            h3.page-header2.text-center.container
                div.row
                    div.col-md-3.col.xs-3
                        a.navbar-link(href='/account') Купоны
                    div.col-md-3.col.xs-3
                        a.navbar-link(href='/stat') Статистика
                    div.col-md-3.col.xs-3
                        a.navbar-link(href='/profile') Профиль
                    div.col-md-3.col.xs-3
                        a.navbar-link(onClick='logout()') Выход
        .container.page-header2
            h4
                table#tableHeader(style='margin:5px auto')
                    tr
                        td.text-center(id='couponName')
         a.btn.btn.btn-primary.btn-block(style='margin: auto;  width: 20%; margin-top: 10px', id='downloadBtn') Скачать файлом
        .container
            table#codesList(style='margin: 5px auto;' data-id=couponId)
        .panel-footer.text-center(style='margin-top: 10px')
            | Copyright © 2016 /dev/null. All rights reserved.
        script(type='text/javascript').
            $(document).ready(loadCodes());