doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Добавить купон в систему
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/coupon.js')
    script(src='/js/jquery-1.12.0.js')
  body
    div
      h3.page-header2.text-center.container
        table(style='margin: auto')
          tr
            td(style='width: 300px')
              a.navbar-link(href='/account') Купоны
            td(style='width: 300px')
              a.navbar-link(href='/stat') Статистика
            td(style='width: 300px')
              a.navbar-link(href='/logout') Выход
    .container
      table#table(style='margin: auto; width: 500px')
        tr(style='height: 50px')
          td
            h3.page-header2  Добавление нового купона
        tr
          td
            .text-info(style='margin: 5px') Краткое наименование купона:
        tr
          td
            input#shortDescr.input-lg(type='text', name='shortDescr', style='width: 100%; margin: 5px', placeholder='Скидка 5% на все товары в магазинах "Купи-продай"')
        tr
          td
            #add1.text-warning(style='margin: 5px')
        tr
          td
            .text-info(style='margin: 5px') Полное описание акции:
        tr
          td
            textarea#fullDescr.input-lg(rows='10', style='width: 100%; margin: 5px', placeholder='Только в этом месяце в магазинах сети "Купи-продай" при предъявлении купона действуют скидки 5% на все товары!')
        tr
          td
            #add2.text-warning(style='margin: 5px')  
        tr
          td
            .text-info(style='margin: 5px') Полная цена товара\услуги:
        tr
          td
            input#fullPrice.input-lg(type='number', min='1', max='100000', style='width: 100%; margin: 5px', placeholder='1000')
        tr
          td
            #add7.text-warning(style='margin: 5px')  
        tr
          td
            table#table2(style='margin: auto; width: 500px')
              tr
                td(style='width:50%')
                  .text-info(style='margin: 5px') Стоимость купона(руб):
                td(style='width:50%')
                  .text-info(style='margin: 5px') Размер скидки по купону(%):
              tr
                td(style='width:50%')
                  input#price.input-lg(type='number', min='0', max='100000', style='width: 100%; margin: 5px', placeholder='250')
                td(style='width:50%')
                  input#discount.input-lg(type='number', min='0', max='100', style='width: 100%; margin: 5px', placeholder='50')
              tr
                td
                  #add3.text-warning(style='margin: 5px')  
                td
                  #add4.text-warning(style='margin: 5px')  
        tr
          td
            .text-info(style='margin: 5px') Дата начала акции:
        tr
          td
            input#crDate.input-lg(type='date', style='width: 100%; margin: 5px')
        tr
          td
            #add8.text-warning(style='margin: 5px')  
        tr
          td
            .text-info(style='margin: 5px') Дата завершения акции:
        tr
          td
            input#expDate.input-lg(type='date', style='width: 100%; margin: 5px')
        tr
          td
            #add5.text-warning(style='margin: 5px')  
        tr
          td
            .text-info(style='margin: 5px') Количество создаваемых купонов:
        tr
          td
            input#couponsCount.input-lg(type='number', min='1', max='100000', style='width: 100%; margin: 5px', placeholder='100')
        tr
          td
            #add6.text-warning(style='margin: 5px')  
        tr
          td
            #add.text-warning(style='margin: 5px')  
        tr
          td
            button.btn.btn-lg.btn-primary.btn-block(style='margin: 5px;', onclick='sendNewCoupon()') Добавить купон
    .panel-footer.text-center(style='margin-top: 10px')
      | Copyright © 2016 /dev/null. All rights reserved.
